@use 'var';
@use 'config';

//variáveis de dimensões
:root {
    --header_height: 70px;
    --header__logo_height: 60px;
}

//Ajuste das dimensões para telas de diversos tamanhos
@media (max-width: #{(var.$md - 1px)}) {
    :root {
        --header_height: 60px;
        --header__logo_height: 50px;
    }
}

//Mixins relativos ao tamanho da tela
@mixin headerHidden() {
    @media (min-width: #{var.$md}) {
        &--is-hidden {
            background-color: transparent;
            transition: background-color .5s ease;
            opacity: 0;
            visibility: hidden;
        }
    }
}

@mixin headerContainerResponsive() {
    @media (max-width: #{(var.$md - 1px)}) {
        &__link {
            span {
                &:first-child {
                    display: none;
                }

                &:last-child {
                    display: inline;
                }
            }
        }
    }

    @media (max-width: #{(var.$sm - 1px)}) {
        justify-content: center;

        &__link {
            .button {
                display: none;
            }
        }
    }
}

//Estilização geral do componente header
.header {
    
    position: sticky;
    top: 0;
    left: 0;
    background-color: var.$corDeFundo;
    transition: background-color .5s ease;
    z-index: 2;

    @include headerHidden();

    &__container {
        @include config.contentVW();
        height: var(--header_height);
        width: 100%;
        max-width: var.$xxl;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        

        &__link {
            transition: opacity .5s ease;

            .button {
                height: calc(var(--header_height) - 10px);
            }

            span {
                &:first-child {
                    display: inline;
                }

                &:last-child {
                    display: none;
                }
            }
        }

        @include headerContainerResponsive();

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(5 * var(--header__logo_height));
            margin-left: -9px;// ajuste fino para Compensar o padding do container e alinhar o logo
            
            &__img {
                height: var(--header__logo_height);
                overflow: hidden;
            }
        }
    }
}