@use 'var';
@use 'config';
@use "sass:math";

//Função para ajustar proporcionalmente a largura dos objetos no container
@function heroContainerItensWidth($content-width:var.$xxl, $content-padding: 0.08, $item-width: 0.27) {
    @return ($content-width * (1 - $content-padding)) * $item-width;
}

//variáveis de dimensões
:root {
    --hero_height: 100vh;
    --hero__content_height: 25vh;
    --hero__branding_width: #{heroContainerItensWidth()};
    --hero__link_width: #{heroContainerItensWidth()};
    --hero__info_width: #{heroContainerItensWidth()};
    --hero__branding_height: 70px;
    --hero__link_height: 70px;
    --hero__info_size: 2.7rem;
    --hero__content_line-height: 0.9;
}

//Ajuste das dimensões para telas de diversos tamanhos
@media (max-width: #{(var.$xxl - 1px)}) {
    :root {
        --hero__branding_width: #{heroContainerItensWidth(var.$xl)};
        --hero__link_width: #{heroContainerItensWidth(var.$xl)};
        --hero__info_width: #{heroContainerItensWidth(var.$xl)};
        --hero__branding_height: 60px;
        --hero__link_height: 60px;
        --hero__info_size: 2.3rem;
    }
}

@media (max-width: #{(var.$xl - 1px)}) {
    :root {
        --hero__branding_width: #{heroContainerItensWidth(var.$lg)};
        --hero__link_width: #{heroContainerItensWidth(var.$lg)};
        --hero__info_width: #{heroContainerItensWidth(var.$lg)};
        --hero__branding_height: 50px;
        --hero__info_size: 2rem;
    }
}

@media (max-width: #{(var.$lg - 1px)}) {
    :root {
        --hero__branding_width: #{heroContainerItensWidth(var.$md)};
        --hero__link_width: #{heroContainerItensWidth(var.$md)};
        --hero__info_width: #{heroContainerItensWidth(var.$md)};
        --hero__branding_height: 40px;
        --hero__link_height: 50px;
        --hero__info_size: 1.7rem;
    }
}

@media (max-width: #{(var.$md - 1px)}) {
    :root {
        --hero__info_width: auto;
        --hero__info_size: 2rem;
        --hero__content_line-height: 1.1;
    }
}

@media (max-width: #{(var.$sm - 1px)}) {
    :root {
        --hero_height: calc(100vh - 60px);
        --hero__content_height: 50vh;
        --hero__link_width: auto;
        --hero__info_width: auto;
        --hero__link_height: 70px;
        --hero__info_size: 2.7rem;
    }
}

//Mixins relativos ao tamanho da tela
@mixin heroResponsive() {
    @media (min-width: #{var.$sm}) {
        background-image: url('../images/hero_desktop.jpg');

        &__background {
            background-image: url('../images/fundo_sombreado.jpg');
            opacity: 0.75;
            width: 100%;
            height: var(--hero__content_height); 
            position: absolute;
            bottom: 0;
        }
    }

    @media (max-width: #{(var.$sm - 1px)}) {
        margin-top: 0;
        background-image: url('../images/hero_mobile.jpg');
    }
}

@mixin heroContentResponsive() {
    @media (min-width: #{var.$sm}) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: calc(var(--hero__content_height) * 0.15);
    }

    @media (max-width: #{(var.$sm - 1px)}) {
        padding-bottom: 4%;
        display: grid;
        grid-template-rows: 1fr auto;

        p {
            font-size: 1em;            
        }
    }
}

@mixin heroContentContainerResponsive() {
    @media (min-width: #{var.$md}) {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        gap: 3%;
    }

    @media (max-width: #{(var.$md - 1px)}) {
        display: flex;
        justify-content: center;
    }

    @media (max-width: #{(var.$sm - 1px)}) {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

@mixin heroContentContainerItens() {
    @media (max-width: #{(var.$md - 1px)}) {
        &__branding {
            display: none;
        }

        &__link {
            display: none;
        }

        &__info {
            justify-self: center;
        }
    }
    @media (max-width: #{(var.$sm - 1px)}) {
        &__link {
            display: block;
            justify-self: center;
        }
    }
}

//Estilização geral do componente hero
.hero {
    height: var(--hero_height);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-top: calc(var(--header_height) * -1);

    @include heroResponsive();

    &__content {
        @include config.contentVW();
        flex: 0 0 var(--hero__content_height);
        //Para que fique acima do backgroud escuro
        z-index: 1;

        @include heroContentResponsive();

        p {
            text-align: center;
        }

        &__container {
            width: 100%;
            margin: 0 auto;
            @include heroContentContainerResponsive();
            align-items: center;

            &__branding {
                justify-self: start;
                width: var(--hero__branding_width);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: auto;
                    height: var(--hero__branding_height);
                    flex-shrink: 0;
                }
            }

            &__link {
                justify-self: center;
                
                button {
                    width: var(--hero__link_width);
                    height: var(--hero__link_height);
                    line-height: 1;
                }
            }

            &__info {
                justify-self: end;
                max-width: var(--hero__info_width);

                h2 {
                    margin: 0;
                    font-size: var(--hero__info_size);
                    text-transform: uppercase;
                    text-align: center;
                    line-height: var(--hero__content_line-height);
                }
            }

            @include heroContentContainerItens();
        }
    }
}