@use 'var';

:root {
    --hero_heigth: 100vh;
}

.hero {
    height: var(--hero_heigth);
    background-image: url('../images/hero_desktop.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-top: calc(var(--header_height) * -1);

    &__background {
        background-image: url('../images/teste2.jpg');
        opacity: 0.75;
        width: 100%;
        height: calc(var(--hero_heigth) * 0.27); 
        position: absolute;
        bottom: 0;
        z-index: 0;
    }

    &__content {
        width: 100%;
        height: calc(var(--hero_heigth) * 0.27);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: calc(var(--hero_heigth) * 0.05);
        z-index: 1;

        &__container {
            width: 100%;
            margin: 0 auto;
            padding: 0 5vw;
            display: grid;
            grid-template-columns: 1fr auto 1fr;
            gap: 3%;
            align-items: center;

            &__branding {
                justify-self: start;
                img {
                    max-width: 500px;
                    height: auto;
                }
            }

            &__action {
                justify-self: center;
                
                button {
                    width: 350px;
                    height: 70px; 
                }
            }

            &__info {
                justify-self: end;
                h2 {
                    color: var.$gold;
                    margin: 0;
                    font-size: 2.6rem;
                    white-space: normal;
                    text-transform: uppercase;
                    text-align: center;
                }
            }
        }
    }
}