@use 'var';
@use 'config';

//variáveis de dimensões
:root {
    --_sobre_padding-top: var(--header_height);
    --_sobre_padding-bottom: var(--header_height);
    --sobre_font-size_h2: 3em;
    --sobre_font-size_p: 1.7em;
    --sobre__text_container_gap: 10%;
    --sobre__content__link--display: none;
}

//Ajuste das dimensões para telas de diversos tamanhos
@media (max-width: #{(var.$xxl - 1px)}) {
    :root {
        --sobre_font-size_h2: 2.6em;
        --sobre_font-size_p: 1.5em;
    }
}

@media (max-width: #{(var.$xl - 1px)}) {
    :root {
        --sobre_font-size_h2: 2.2em;
        --sobre_font-size_p: 1.3em;
    }
}

@media (max-width: #{(var.$lg - 1px)}) {
    :root {
        --sobre_font-size_h2: 1.7em;
        --sobre_font-size_p: 1em;
    }
}

@media (max-width: #{(var.$sm - 1px)}) {
    :root {
        --sobre__text_container_gap: 20px;
        --sobre_font-size_h2: 2.2em;
        --sobre_font-size_p: 1.2em;
        --sobre__content__link--display: block;
    }
}

//Mixins relativos ao tamanho da tela
@mixin sobreContentText_containerResponsive() {
    @media (min-width: #{var.$sm}) {
        position: absolute;
        top: 0;
        right: 0;
        left: 50%;
        height: 100%;
        width: 50%;
        padding-top: var(--_sobre_padding-top);
        padding-right: calc(var(--contentVW_padding-right) + 4%);
        padding-bottom: var(--_sobre_padding-bottom);
        padding-left: 4%;                
        background-color: rgba(var.$corDeFundo, 0.7);
    }

    @media (max-width: #{(var.$sm - 1px)}) {
        position: relative;
        left: 0;
        width: 100%;
        padding: 20px 0;              
    }
}

//Estilização geral do componente sobre
.sobre {
    &__content {
        @include config.contentVW();
        padding-top: var(--_sobre_padding-top);
        padding-bottom: var(--_sobre_padding-bottom);
        display: block;
        position: relative;

        img {
            width: 100%;
            display: block;
            border-radius: 8px;
        }

        &__text_container {
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: center;
            gap: var(--sobre__text_container_gap);

            @include sobreContentText_containerResponsive();

            h2 {
                margin: 0;
                text-align: center;  
                font-size: var(--sobre_font-size_h2);
                line-height: 1.1;
            }

            p {
                color: #fff;
                text-align: justify;  
                font-size: var(--sobre_font-size_p);
                line-height: 1.45;
            }
        }

        &__link {
            justify-self: center;
            
            button {
                height: 70px;
            }

            display: var(--sobre__content__link--display);
        }
    }
}