//Variáveis de estilos CSS

//Cores
$gold: #e2b82a;
$corDeFundo: #1a1a1a;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotao: #0063e5;

//Fontes
$title: 'Cinzel', sans-serif;
$text: 'Quattrocento', sans-serif;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;