@use 'var';
@use 'config';
@use 'header';
@use 'hero';
@use 'sobre';
/*
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
*/

body {
    background-color: var.$corDeFundo;
}

@mixin title($font-size: 40px) {
    @include text($font-size);
    color: var.$gold;
    text-transform: uppercase;
    font-family: var.$title;
}

@mixin text($font-size: 18px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: var.$corTextoPrincipal;
}

.text--small {
    @include text(14px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.text--big {
    @include text(24px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.title--big {
    @include title(48px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title();

    @media (max-width: 768px) {
        @include title(26px);
    }
    
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

/*
.link-text {
    @include text(18px);
    color: var.$corTextoSecundario;
    text-decoration: underline;
}
*/


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: var.$corTextoSecundario;
    background-color: var.$corDeFundoBotao;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    font-family: var.$title;

    &:hover {
        background-color: lighten(var.$corDeFundoBotao, 3%);
    }
}