@use 'var';
@use 'header';
@use 'hero';
/*
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
*/

//style reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var.$text, sans-serif;
    list-style: none;
}


body {
    background-color: var.$corDeFundo;
}

@mixin title($font-size: 40px) {
    @include text($font-size);
    color: var.$corTextoSecundario;
}

@mixin text($font-size: 16px) {
    font-size: $font-size;
    line-height: $font-size + 10px;
    color: var.$corTextoPrincipal;
}

.text--small {
    @include text(14px);

    @media (max-width: 768px) {
        @include text(11px);
    }
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px);
    }
}

.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px);
    }
}

.title--big {
    @include title(48px);

    @media (max-width: 768px) {
        @include title(26px);
    }
}

.title {
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }
}

.title--small {
    @include title(28px);

    @media (max-width: 768px) {
        @include title(22px);
    }
}

/*
.link-text {
    @include text(18px);
    color: var.$corTextoSecundario;
    text-decoration: underline;
}
*/


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: var.$corTextoSecundario;
    background-color: var.$corDeFundoBotao;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    font-family: var.$title;

    &:hover {
        background-color: lighten(var.$corDeFundoBotao, 3%);
    }
}

/*
.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }

    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image--full--width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text_container {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}
*/